


<nav class="navbar navbar-expand-lg" style="background-color: #25cff2">
  <a class="navbar-brand" href="#">Prueba Tecnica TCC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
  <ul class="nav">
    <li><a href="" routerLink="/home">Home</a></li>
    <li><a href="">Administracion<span class="flecha">▼</span></a>
        <ul>
            <li class="nav-item">
              <a href="" class="nav-link" routerLink="/Clientes">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/Usuarios">Usuarios</a>
            </li>
        </ul>
    </li>
    <li><a href="">Gestion<span class="flecha">▼</span></a>
      <ul>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Envios">Envios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Productos">Productos</a>
        </li>
      </ul>
  </li>

    <li><a href="">Acerca<span class="flecha">▼</span></a>
        <ul>
            <li><a href="">Historia</a></li>
            <li><a href="">Mision</a></li>
            <li><a href="">Vision</a></li>
        </ul>
    </li>
    <li><a href="">Contacto</a></li>
</ul>
</div>
<div id="cerrarSeccion" >
  <form (ngSubmit)="onSubmit()">
    <button type="submit" class="btn btn-primary">Cerrar Session</button>
  </form>
</div>
</nav>







  <style>
    #cerrarSeccion{
      float: left;
    width: 10%;
    height: 40px;
    margin: 1% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    }


  * {
  font-family:sans-serif;
  list-style:none;
  text-decoration:none;
  margin:0;
  padding:0;
  }

  .nav > li {
  float:left;
  }

  .nav li a {
  background:#25cff2;
  color:#FFF;
  display:block;
  border:1px solid;
  padding:10px 12px;
  }

  .nav li a:hover {
  background:#0fbfc6;
  }

  .nav li ul {
  display:none;
  position:absolute;
  min-width:150px;
  }


  .nav li:hover > ul {
  display:block;
  }

  .nav li ul li {
  position:relative;
  }

  .nav li ul li ul {
  right:-150px;
  top:0;
  }

  .nav li .flecha{
  font-size: 9px;
  padding-left: 6px;
  display: none;
  }

  .nav li a:not(:last-child) .flecha {
  display: inline;
  }

  </style>

